:root {
	--footerTopMargin: 0rem;
	--footerHeight: 4rem;
	--mainMinHeight: calc(100vh - var(--footerTopMargin) - var(--footerHeight));
}

html,
input,
button {
	font-family: 'Public Sans', sans-serif;
}

main {
	min-height: var(--mainMinHeight);
	/* background-color: bisque; */
}

#gameboard {
	display: grid;
	grid-template-columns: repeat(3, 5rem);
	grid-template-rows: repeat(3, 5rem);
	gap: 0.4rem;
	background-color: #1f1f1f;
	width: max-content;
	height: max-content;
	margin: auto;
	padding: 0;
	position: relative;
	top: calc(var(--mainMinHeight) / 3);
}

#gameboard > div {
	background-color: white;
}

footer {
	display: flex;
	align-items: center;
	margin: auto;
	margin-top: var(--footerTopMargin);
	height: var(--footerHeight);
	width: max-content;
	position: relative;
	font-size: 1.2rem;
}

footer a {
	text-decoration: none;
	color: var(--darkgrey);
}

footer i {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

footer a:hover,
i:hover {
	color: blue;
	cursor: pointer;
}
